---
import Layout from "~/layouts/MarkdownLayout.astro";
import professionals from "../karriere/professional.jpg";
import beginners from "../karriere/beginners.jpg";
import students from "../karriere/students.jpg";
import interns from "../karriere/interns.jpg";
import { Image } from "astro:assets";
import Collapsible from "~/components/Collapsible.svelte";
---

<Layout title="Career">
  <h1>Career</h1>
  <p>
    We provide a worthwhile and sustainable environment in our metropolitan
    region. We solve our clients’ problems with good ideas and then implement
    them. For this reason we are always looking for inquisitive people who can
    support us in our intentions with a wide range of ideas. Joining LEHNE ing.
    is possible at all experience levels – from students to experienced
    professionals:
  </p>

  <div class="grid sm:grid-cols-2 gap-2vmin">
    <Collapsible client:load>
      <div slot="trigger" class="card">
        <Image src={professionals} alt="Professionals" class="background" />
        <div class="z-10 text-3xl">Professionals</div>
      </div>
      <p>
        At LEHNE Ing. you can start in the project business from the first day
        onwards - we need everything from expertise, management and customer
        service. We are looking for professionals who are burning with ideas,
        who drive innovations forward and are happy to work in a team. For
        example you can incorporate your specialist knowledge in the planning of
        cycle routes, traffic routes, pipeline routing, surface drainage,
        development of new areas, maintenance measures and much more. Our
        working world stands out due to variety during the design of technical
        solutions in a dynamic project environment. If we have made you curious
        you can find a brief insight into <a href="/en/working-at-lehne-ing"
          >our working life</a
        > at LEHNE Ing. here.
      </p>
      <p>
        Furthermore, we can offer you the opportunity to take over
        responsibility and to implement technical innovations.
      </p>
    </Collapsible>

    <Collapsible client:load>
      <div slot="trigger" class="card">
        <Image src={beginners} alt="Beginners" class="background" />
        <div class="z10 text-3xl">Beginners</div>
      </div>
      <p>
        We can make a direct start-up in your career easy. If you know what you
        want, we know how to do it. You can profit from our know-how, which we
        have obtained from over 700 projects in the infrastructure, mobility,
        environmental engineering and water sectors. You will be actively
        shaping the future of our city when you work for us.
      </p>
      <p>
        We work in teams with various tasks and considerable transparency.
        Please take the opportunity to read the description of <a
          href="/en/working-at-lehne-ing"
        >
          our working world.
        </a>
      </p>
      <p>
        We require good specialist qualifications. Furthermore, we place value
        on your personality, communication abilities and curiosity for new
        things. We can provide both support and individual promotion using
        “on-the-job” induction and the support of the most modern technology
        available.
      </p>
      <p>We are really looking forward to your application.</p>
    </Collapsible>

    <Collapsible client:load>
      <div slot="trigger" class="card">
        <Image src={interns} alt="Studierende" class="background" />
        <div class="z10 text-3xl">Students</div>
      </div>
      <p>
        We are happy to promote young talent and always find it exciting to see
        what practice can make out of theory.
      </p>
      <p>
        LEHNE Ing. offers facilities for obtaining an insight into the working
        world through internships, degree theses or part-time jobs.
        Opportunities for a career start after your studies often result from
        these.
      </p>
      <p>
        Please send your application to <a href="mailto:personal@lehne-ing.de"
          >personal@lehne-ing.de</a
        >
      </p>
    </Collapsible>

    <Collapsible client:load>
      <div slot="trigger" class="card">
        <Image src={students} alt="SchülerInnen" class="background" />
        <div class="z10 text-3xl">Pupils</div>
      </div>
      <p>
        We will gladly be of help during initial orientation in the working
        world and are happy to receive curious, knowledge-hungry school pupils.
        We attempt to integrate both “try-out days” and school internships in
        our working day. The profession of engineer or draughtsman can provide
        plenty of exciting aspects which are not always apparent at first
        glance.
      </p>
      <p>
        We would be happy to receive your application at <a
          href="mailto:personal@lehne-ing.de">personal@lehne-ing.de</a
        >.
      </p>
    </Collapsible>
  </div>

  <hr />
  <p>
    You got questions or interested in working with us? Get in touch with us via
    <a href="info@lehne-ing.de">mail</a> or have a look at our current job openings.
  </p>
</Layout>
