---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import Layout from "~/layouts/MarkdownLayout.astro";

const people = await getCollection("people", ({ id }) => id.startsWith("en/"));
---

<Layout title="Management">
  <h1>Management</h1>
  <p>
    LEHNE ing. is managed by managing directors Stefan Paul, Jakob Paul, Oskar Paul and Amelie Atassi (ppa.). 
    Together, they promote the company's active growth and ensure its long-term future through innovative and sustainable management. 
    They are also actively involved in the handling, management and processing of projects.
  </p>

  <div class="grid sm:grid-cols-2 gap-4vmin">
    {
      people.map(async ({ data, render }) => {
        const { Content } = await render();
        return (
          <div style={`order: ${data.sortOrder};`}>
            <Image src={data.image} alt="" />
            <h2 class="text-center text-primary">{data.name}</h2>
            <h3 class="text-center">{data.position}</h3>
            <Content />
          </div>
        );
      })
    }
  </div>
</Layout>
