---
import { Image } from "astro:assets";
import MarkdownLayout from "~/layouts/MarkdownLayout.astro";
import { Icon } from "astro-icon";
import { people } from "~/data/team";
---

<MarkdownLayout title="Team">
  <h1>Team</h1>
  <p>
    Top-quality expertise can only be properly used in a motivated and versatile
    team. For this reason LEHNE ing. employs engineers originating from
    different disciplines ranging from the classical civil engineer through
    geographers, hydraulic engineers and technical draftsmen.
  </p>
  <p>
    We place great emphasis on innovative personalities who are keen on taking
    on complex, new challenges.
  </p>

  <div
    class="grid sm:grid-cols-2 md:grid-cols-3 gap-4vmin justify-items-center"
  >
    {
      people.map(({ name, image }) => {
        return (
          <div class="text-center">
            {image ? (
              <Image src={image} alt={name} />
            ) : (
              <Icon name="mdi:portrait" class="opacity-25 w-full" />
            )}
            <div class="text-primary">{name}</div>
          </div>
        );
      })
    }
  </div>
</MarkdownLayout>
