---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import Layout from "~/layouts/MarkdownLayout.astro";

const people = await getCollection("people", ({ id }) => id.startsWith("de/"));
---

<Layout title="Führungsteam">
  <h1>Führungsteam</h1>
  <p>
    LEHNE ing. wird von den Geschäftsführern Stefan Paul, Jakob Paul, Oskar Paul, Amelie Atassi (ppa.) geführt. Gemeinsam fördern sie ein aktives Wachstum des
    Unternehmens und stellen über ein innovatives und nachhaltiges Management die Zukunft des Unternehmens langfristig sicher.
    Operativ sind sie in der Abwicklung, Steuerung und Bearbeitung der Projekte aktiv tätig.
  </p>

  <div class="grid sm:grid-cols-2 gap-4vmin">
    {
      people.map(async ({ data, render }) => {
        const { Content } = await render();
        return (
          <div style={`order: ${data.sortOrder};`}>
            <Image src={data.image} alt="" />
            <h2 class="text-center text-primary">{data.name}</h2>
            <h3 class="text-center">{data.position}</h3>
            <Content />
          </div>
        );
      })
    }
  </div>
</Layout>
