---
import { getCollection } from "astro:content";
import JobTemplate from "~/components/JobTemplate.astro";
import MarkdownLayout from "~/layouts/MarkdownLayout.astro";
const title = "Stellenangebote";

const jobs = await getCollection("jobs", ({ id }) => !id.startsWith("en/"));
---

<MarkdownLayout title={title}>
  <h1>{title}</h1>
  <p>
    Du bist auf der Suche nach einer neuen Herausforderung und möchtest Dich
    fachlich und persönlich weiterentwickeln? Dann freuen wir uns darauf, Dich
    kennenzulernen!
  </p>
  <div class="grid gap-4">
    {jobs.map((job) => <JobTemplate job={job} />)}
  </div>
</MarkdownLayout>
