---
import { getRelativeLocaleUrl } from "astro:i18n";
import { Icon } from "astro-icon";

interface Props {
  label: string;
  href: string;
  items?: { label: string; href: string }[];
}

const { label, href, items } = Astro.props;
const locale = Astro.currentLocale || "en";
---

<div class="relative parent flex items-center">
  <a class="link" href={getRelativeLocaleUrl(locale, href)}>{label}</a>
  <Icon name="mdi:chevron-down" class="w6 h6" />
  <div class="menu bg-primary">
    {
      items?.map(({ label, href }) => (
        <a class="m-2 link" href={getRelativeLocaleUrl(locale, href)}>
          {label}
        </a>
      ))
    }
  </div>
</div>

<style>
  .parent {
    justify-content: center;
  }

  .menu {
    z-index: 100;
    display: flex;
    box-shadow: 0 6px 16px 4px lch(0 0 0 / 50%);
    position: absolute;
    top: 100%;
    width: max-content;
    flex-direction: column;
    transition:
      scale 0.5s,
      opacity 0.5s;
    transform-origin: top;
    opacity: 0;
    scale: 1 0;
  }

  .parent:hover .menu {
    opacity: 1;
    scale: 1;
    /* display: flex; */
  }

  /* look into background-effect kevin powell */
  

  /* .link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
  }

  .link:hover::before {
    transform: scaleX(1);
  } */
</style>
