---
import Icon from "astro-icon";
---

<footer class="grid grid-cols-2 p-10vmin bg-neutral">
  <div class="flex items-center">
    <Icon name="mdi:facebook" class="w-6 h-6" />
    <Icon name="mdi:instagram" class="'w6 h6" />
    <Icon name="mdi:email" class="w6 h6" />
  </div>
  <div class="flex items-center">
    <a href="impressum">Impressum</a>
    <a href="/datenschutz">Datenschutz</a>
    <a href="impressum">Impressum</a>
  </div>
</footer>
