---
import Icon from "astro-icon";
import { footerLinks } from "~/data/footer";
import { getLangFromUrl } from "~/utils/lang";
const lang = getLangFromUrl(Astro.url);
---

<footer class="bg-primary text-white py-10vmin px-5vmin">
  <div class="flex justify-between max-w-256 mxa flex-wrap">
    <div class="flex items-center gap-4">
      <a href="https://de-de.facebook.com/lehne.ing/">
        <Icon name="mdi:facebook" class="w-8 h-8" />
      </a>
      <a href="https://www.instagram.com/lehne.ing/">
        <Icon name="mdi:instagram" class="w-8 h-8" />
      </a>
      <a href="info@lehne-ing.de">
        <Icon name="mdi:email" class="w-8 h-8" />
      </a>
    </div>
    <div class="flex items-center gap-4">
      {footerLinks[lang].map(({ label, href }) => <a href={href}>{label}</a>)}
    </div>
  </div>
</footer>
