---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";
interface Props {
  items: { label: string; thumbnail?: ImageMetadata; href: string }[];
}

const { items } = Astro.props;
---

<>
  {
    items.map(({ label, href, thumbnail }) => {
      if (!thumbnail) {
        return null;
      }

      return (
        <a href={href} class="card">
          <Image class="background" src={thumbnail} alt={label} />
          <div class="text-white text-2xl font-medium drop-shadow-lg">
            {label}
          </div>
        </a>
      );
    })
  }
</>