---
interface Props {
  items: { label: string; image: string; url: string }[];
}

const { items } = Astro.props;
---

<div class="grid sm:grid-cols-2 md:grid-cols-3 gap-4vmin">
  {
    items.map(({ label, url, image }) => (
      <a href={url} class="card">
        <div style={`background-image: url(${image})`} class="background" />
        <div class="text-white text-3vmin font-medium drop-shadow-lg">
          {label}
        </div>
      </a>
    ))
  }
</div>

<style>
  .card {
    position: relative;
    display: grid;
    place-content: center;
    aspect-ratio: 1/1;
    text-align: center;
    overflow: clip;
    background-color: black;
  }

  .background {
    opacity: 0.6;
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    transition: scale 1s;
  }

  .card:hover .background {
    scale: 1.2;
  }
</style>
