---
import { Image } from "astro:assets";
import Logo from "~/lib/Logo.png";
import Nav from "./Nav.astro";
import { getRelativeLocaleUrl } from "astro:i18n";

const { current = "" } = Astro.props;
---

<style>
  header {
    display: flex;
    margin: 0 auto;
    padding: 2em;
    width: 100%;
  }
</style>

<header class="flex items-center gap-4 z-10 bg-primary/20">
  <a href={getRelativeLocaleUrl(Astro.currentLocale || "en", "")}>
    <Image src={Logo} alt="" class="w-10vw" />
  </a>
  <Nav current={current} />
</header>
