---
import DropDown from "./DropDown";
import ThemeToggleButton from "./ThemeToggleButton.svelte";
import "./DropDown.module.css";
import { getRelativeLocaleUrl } from "astro:i18n";

const expertiseLinks = {
  label: "Expertise",
  url: "expertise",
  items: [
    { label: "Mobility", url: "mobility" },
    { label: "Infrastructure", url: "infrastructure" },
    { label: "Environment", url: "environment" },
    { label: "Water", url: "water" },
    { label: "Digitalisation", url: "digitalisation" },
    { label: "Health and safety", url: "health-and-safety" },
  ],
};

const aboutUsLinks = {
  label: "About us",
  url: "about-us",
  items: [
    { label: "Services", url: "services" },
    { label: "Team", url: "team" },
    { label: "Management", url: "management" },
    { label: "Expert-Network", url: "expert-network" },
    { label: "History", url: "history" },
  ],
};
const careerLinks = {
  label: "Career",
  url: "career",
  items: [
    { label: "Working at LEHNE ing.", url: "working-at-lehne-ing" },
    { label: "Jobs", url: "jobs" },
    { label: "Talent Promotion", url: "talent-promotion" },
  ],
};
---

<nav>
  <DropDown data={expertiseLinks} client:idle />
  <DropDown data={aboutUsLinks} client:idle />
  <DropDown data={careerLinks} client:idle />
  <a
    class="link"
    href={getRelativeLocaleUrl(Astro.currentLocale || "en", "projects")}
    >Projects</a
  >
  <a
    class="link"
    href={getRelativeLocaleUrl(Astro.currentLocale || "en", "contact")}
    >Contact</a
  >
  <a
    class="link"
    href={getRelativeLocaleUrl(Astro.currentLocale || "en", "expert-network")}>VBI</a
  >
  <div class="theme-toggle-container">
    <ThemeToggleButton client:load />
  </div>
</nav>

<style>
  nav {
    align-items: center;
    display: flex;
    flex: 1;
    font-family: var(--font-family-sans);
    font-weight: 700;
    justify-content: flex-end;
    text-transform: uppercase;
    color: white;
  }

  .theme-toggle-container {
    width: 75px;
  }
</style>
