---
import DropDown from "./DropDown.astro";
import ThemeToggleButton from "./ThemeToggleButton.svelte";

const expertiseLinks = {
  label: "Expertise",
  href: "expertise",
  items: [
    { label: "Mobility", href: "mobility" },
    { label: "Infrastructure", href: "infrastructure" },
    { label: "Environment", href: "environment" },
    { label: "Water", href: "water" },
    { label: "Digitalisation", href: "digitalisation" },
    { label: "Health and safety", href: "health-and-safety" },
  ],
};

const aboutUsLinks = {
  label: "About us",
  href: "about-us",
  items: [
    { label: "Services", href: "services" },
    { label: "Team", href: "team" },
    { label: "Management", href: "management" },
    { label: "Expert-Network", href: "expert-network" },
    { label: "History", href: "history" },
  ],
};
const careerLinks = {
  label: "Career",
  href: "career",
  items: [
    { label: "Working at LEHNE ing.", href: "working-at-lehne-ing" },
    { label: "Jobs", href: "jobs" },
    { label: "Talent Promotion", href: "talent-promotion" },
  ],
};
---

<nav>
  <DropDown {...expertiseLinks} />
  <DropDown {...aboutUsLinks} />
  <DropDown {...careerLinks} />
  <DropDown label="Projects" href="projects" />
  <DropDown label="Contact" href="contact" />
  <DropDown label="VBI" href="expert-network" />
  <div class="theme-toggle-container">
    <ThemeToggleButton client:load />
  </div>
</nav>

<style>
  nav {
    align-items: center;
    display: flex;
    flex: 1;
    font-family: var(--font-family-sans);
    /* font-weight: 700; */
    justify-content: flex-end;
    color: white;

    @media (max-width: 600px) {
      display: flex;
      flex-direction: column;
      position: fixed;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: var(--primary-color);
    }
  }

  .theme-toggle-container {
    width: 75px;
  }
</style>
