---
import { Image } from "astro:assets";
interface Props {
  id: string;
  images?: ImageMetadata[];
}

const { id, images } = Astro.props;
---

<script define:vars={{ id }}>
  document.addEventListener("astro:page-load", () => {
    new Flickity(`#${id}`, { wrapAround: true });
  });
</script>

<div class="py-4vmin">
  <div class="w-4/5 mx-auto" id={id}>
    {
      images?.map((image) => {
        return (
          <Image src={image} alt="" class="h-60vh object-cover w-full object-center" />
        );
      })
    }
  </div>
</div>
