---
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
  <div class="m-inline-auto p-5vmin max-w-336">
    <slot />
  </div>
</BaseLayout>
